lib-cov
/**/node_modules/
/**/typings/
/**/bower_components/
/**/.idea/
/**/data/
/**/kbd/
/**/target/
/**/.seed
/**/.log
/**/.csv
/**/.dat
/**/.out
/**/.pid
/**/.gz
/**/.rar
/**/.zip
/**/kbd.html
/**/kbd.*

/**/pids
/**/logs
/**/results

/**/npm-debug.log
/**/.brackets.json

